<html>
	<head>
		<script type="text/javascript" src="../kango-ui/kango_api.js"></script>
		<script type="text/javascript" src="../static/js/popup.js"></script>
		<link type="text/css" href="../static/style/tabs.css" rel="stylesheet"></style>
	</head>
	<body role="default_popup" style="width: 600px; height: 430px;">
		<div id="Tabs">
			<ul>
				<li id="li_tab1">
					<a>Send tabs</a>
				</li>
				<li id="li_tab2">
					<a>Get tabs</a>
				</li>
				<li id="li_tab3">
					<a>Test Tab</a>
				</li>
			</ul>
			<div id="Content Area">
				<div id="tab1">
					<div></div>
					<button id="popup-send" type="submit">Send</button>
				</div>
				<div id="tab2" style="display: none;">
					<button id="popup-get" type="submit">Get</button>
				</div>
				<div id="tab3" style="display: none;">
					<p>Text here!</p>
				</div>
			</div> <!- End of Content Area div ->
		</div> <!- End of Tabs div ->
	</body>
</html>